* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FBF8EF;
  font-family: Helvetica, Arial, sans-serif;
  max-height: 100vh;
}

h1 {
  font-size: 3.5rem;
  margin: 2rem;
  text-align: center;
}

a, a:visited {
  font-size: 2rem;
  color: black;
}

a:hover {
  color: #555;
}

button {
  background-color: white;

}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem;
}

p {
  display: inline;
  font-size: 1.5rem;
}

button {
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: #EEE;
}

th, td {
  padding: 0.5rem 1rem;
}

.randomize-div {
  margin-top: 5rem;
  padding: 0.3rem 0.6rem;
}

.start-btn {
  margin-top: 50vh;
}

.back-btn {
  font-size: 2.5rem;
  padding: 1rem 2rem;
}

.information-div {
  display: block;
  margin: 2.5rem;
}

.table-div {
  margin-top: 3rem;
}

.table-cell {
  padding: 0.3rem 0.6rem;
}

.correct {
  background-color: #31C231;
}

.incorrect {
  background-color: red;
}

.center {
  text-align: center;
}

#answer-input {
  width: 14rem;
  font-size: 1.5rem;
}

#timer {
  float: right;
  margin: 1rem 2rem 0 0;
}