* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FBF8EF;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.5rem;
  margin: 2rem;
  text-align: center;
}

a, a:visited {
  font-size: 2rem;
  color: black;
}

a:hover {
  color: #555;
}

button {
  background-color: white;

}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem;
}

p {
  display: inline;
  font-size: 1.5rem;
}

button {
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
}

.main-div {
  margin: 5rem 0;
}

.randomize-div {
  text-align: center;
  margin-top: 8rem;
  padding: 0.3rem 0.6rem;
}

.input-div {
  text-align: center;
}

.start-btn {
  text-align: center;
  margin-top: 50vh;
}

.back-btn {
  font-size: 2.5rem;
  padding: 1rem 2rem;
}

#title, #artist {
  text-align: center;
  display: block;
  margin: 3rem;
}

#answer-input {
  width: 14rem;
  font-size: 1.5rem;
}

#timer {
  float: right;
  margin: 1rem 2rem 0 0;
}